# Python 가상환경 및 캐시 파일 제외
.venv/
__pycache__/
*.py[cod]
*$py.class

# 빌드 및 배포 관련 폴더
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Streamlit 관련 로컬 세팅
.streamlit/config.toml
.streamlit/secrets.toml

# 에디터 및 개발 관련 캐시
.vscode/
.idea/
.project
.pydevproject
.settings/
.DS_Store
Thumbs.db
